
.edit-profile-container {
  padding: 20px;
  max-width: 700px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  
  padding: 10px 20px;
}

.nav-button {
  background-color: rgb(255, 123, 0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  
}


.nav-button:hover {
  background-color: rgb(255, 123, 0);
}

.title {
  color: #333;
  margin-bottom: 20px;
}

.profile-form {
  background: #fff;
  border: 2px solid rgba(255,255,255,.2);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  color: #22487a;
  border-radius: 15px;
  padding: 30px 40px;
  margin-top: 30px;
  
}
.profile-form h1{
  text-align: center;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.profile{
  text-align: center;
  margin-top: 30px;

}
.profile-form img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}

.form-input,
.form-textarea {
  width:100%;
  height:100%;
  background: transparent;
  border: 2px solid rgba(3, 2, 2, 0.2);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #22487a;
  padding: 20px 45px 20px 20px;
  
}

.nameSection{
  display: flex;
  gap:20px;
}
.nameSection input {
  width: full;
  height: 65px;
  
}



 input::placeholder{
  color :#13053e;
}


.form-input:focus,
.form-textarea:focus,
.file-input:focus {
  border-color: rgb(255, 123, 0);
  outline: none;
}

.submit-button {
  background-color: rgb(255, 123, 0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.submit-button:hover {
  background-color: rgb(255, 123, 0);
}
.file-input-container {
  position: relative;
}

.file-input {
  display: none; 
}

.change-button {
  display: inline-block;
  background-color: rgb(255, 123, 0);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 7px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 5px;
}

.change-button:hover {
  background-color: rgb(255, 123, 0);
}